<h2 class="text-3xl font-bold text-center mt-8 text-gray-800 mb-8">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "max-w-lg mx-auto bg-white p-8 border border-gray-300 rounded-lg shadow-lg" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-6">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="text-sm bg-yellow-100 border border-yellow-400 text-yellow-700 px-4 py-3 rounded relative" role="alert">
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    </div>
  <% end %>

  <div class="field mb-6">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <i class="text-sm">(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
    <% if @minimum_password_length %>
      <br />
      <em class="text-sm">(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field mb-6">
    <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field mb-6">
    <%= f.label :current_password, class: "block text-gray-700 text-sm font-bold mb-2" %>
    <i class="text-sm">(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions flex justify-center mb-6">
    <%= f.submit "Update", class: "bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<div class="max-w-lg mx-auto bg-hidden p-8 rounded-lg text-center">
  <h3 class="text-gray-800 font-bold">Cancel my account</h3>
  <p class="text-sm mb-4">Unhappy? Consider this carefully, as this action cannot be undone.</p>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>
<div class="max-w-lg mx-auto bg-hidden rounded-lg text-center">
  <%= link_to "Back", :back, class: "bg-green-600 hover:bg-green-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
</div>